<div style="display: flex; flex-direction: column; height: auto; width: 300px; margin: 20px;">
  <label style="cursor:pointer; color: rgb(240, 68, 68); position: absolute; right: 10%; font-size: 20px;" (click)="close()">X</label>
  <div style="display: flex; flex-direction: column;margin-top: 10%;" *ngFor="let item of itemor">
      <div style="display: flex; justify-content:space-between">
        <span>{{item.name}}</span>
        <span>&#3647; {{item.price}}</span>
      </div>
      <div style="display: flex; justify-content:space-between">
        <span>จำนวน {{item.amount}}</span>
        <span>รวม &#3647; {{item.price*item.amount+nav}}</span>
      </div>
      -------------------------------------------------------------------
  </div>
</div>
