<div style="display: flex; flex-direction: column; height: 600px; margin: 20px;">
  <label style="color: rgb(240, 68, 68); position: absolute; right: 5%; font-size: 20px;cursor:pointer" (click)="close()">X</label>
  <label style="color: rgb(0, 0, 0); position: absolute; left:5%; font-size: 20px;">รายการ</label>
  <div style="margin-bottom: 4%;"></div>

  <div class="example-card" (click)="openItem(order.b_id)" style="cursor:pointer; display: flex; flex-direction: column; height: auto;background-color:#D9D9D9; margin-top: 3%;border-radius: 5px;"*ngFor="let order of this.orderbill">
    <div  style="display: flex;flex-direction: column;margin: 20px;">
      <span>คำสั่งซื้อ: LMF-{{order.b_id}}</span>
      <span>ชื่อผู้รับ: {{order.name}}</span>
      <span>ที่อยู่จัดส่ง: {{order.address}}</span>
      <span>ราคารวม: &#3647;{{order.totalprice}}</span>
      <span>เบอร์โทรศัพท์: {{order.phone}}</span>
      <div *ngIf="order.status == 'จัดส่งแล้ว'; else underage">
        <h2 style="color: #06fb64;">{{order.status}}</h2>
      </div>

      <ng-template #underage>
        <h2 style="color: #2727df;">{{order.status}}</h2>
      </ng-template>
      <!-- <h2>{{order.status}}</h2> -->
      <!-- <span [style.color]="bgColor">{{order.status}}</span> -->
    </div>

  </div>
  <div style="margin-top: 10%; color: white;">
    sfdgfsdg
  </div>

</div>
